image: node:12.18.3

stages:
  - deploy
  - deploy_dev
  
deploy:
  stage: deploy
  environment:
    name: deploy
    url: "$SSH_DOMAIN"
  before_script:
    - touch .env
    - echo "BBB_URL=$BBB_URL" >> .env
    - echo "BBB_SECRET=$BBB_SECRET" >> .env
    - echo "BBB_DOWNLOAD_URL=$BBB_DOWNLOAD_URL" >> .env
    - echo "DOMAIN=$DOMAIN_NAME" >> .env
    - 'which ssh-agent || ( apt-get install -qq openssh-client )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_KEY" | base64 -d)
  script:
    - scp -o StrictHostKeyChecking=no -rv ./* "$SSH_USER"@"$SSH_DOMAIN":"$PATH_TO_DEPLOY"
    - scp -o StrictHostKeyChecking=no -rv ./.env "$SSH_USER"@"$SSH_DOMAIN":"$PATH_TO_DEPLOY"/.env
    - ssh -o StrictHostKeyChecking=no "$SSH_USER"@"$SSH_DOMAIN" "cd "$PATH_TO_DEPLOY" && npm install && devil www restart "$DOMAIN""
    - curl -k https://"$DOMAIN"
  only:
    - master

deploy_dev:
  stage: deploy
  environment:
    name: deploy
    url: "$SSH_DOMAIN"
  before_script:
    - touch .env
    - echo "BBB_URL=$BBB_DEV_URL" >> .env
    - echo "BBB_SECRET=$BBB_DEV_SECRET" >> .env
    - echo "BBB_DOWNLOAD_URL=$BBB_DEV_DOWNLOAD_URL" >> .env
    - echo "DOMAIN=$DOMAIN_NAME_DEV" >> .env
    - 'which ssh-agent || ( apt-get install -qq openssh-client )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_KEY" | base64 -d)
  script:
    - scp -o StrictHostKeyChecking=no -rv ./* "$SSH_USER"@"$SSH_DOMAIN":"$PATH_TO_DEPLOY_DEV"
    - scp -o StrictHostKeyChecking=no -rv ./.env "$SSH_USER"@"$SSH_DOMAIN":"$PATH_TO_DEPLOY_DEV"/.env
    - ssh -o StrictHostKeyChecking=no "$SSH_USER"@"$SSH_DOMAIN" "cd "$PATH_TO_DEPLOY_DEV" && npm install && devil www restart "$DOMAIN_DEV""
    - curl -k https://"$DOMAIN_DEV"
  only:
    - develop
